html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

.invis{
    visibility: hidden;
  }
  .key, .tallKey{
    display: grid;
    background-color: #333333;
    color: azure;
    padding: 10px;
  }
  .key{
    grid-template-columns: repeat(10,50px);
    height: 20px;
    width: 500px;
  }
  .tallKey{
    grid-template-rows: repeat(22,33px);
    width: 50px;
    float: left;
  }
  .column, .row{
    width: 50px;
    height: 20px;
    border: 1px solid azure;
    
  }
  .column{
    border-bottom: 0px;
    border-top: 0px;
  }
  .row{
    border-left: 0px;
    border-right: 0px;
  }
  .board{
    display: grid;
    grid-template-columns: repeat(10, 50px);
    width: 500px;
    background-color: #2196F3;
    padding: 10px;
  }

  .gridItem {
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: #333333;
    padding: 8px;
    font-size: 10px;
    text-align: center;
  }

  .result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
  }

  .input-box .btn {
    width: 90px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
  }

  .input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
  }
  .btn{
    font-size: 10px;
  }

  .input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
  }

  .input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
  }

  .input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
  }

  .v0{
    background-color: #2196F3;
  }

  .v1{
    background-color: gray;
  }
  .v2{
    background-color: azure;
  }
  .v3{
    background-color: red;
  }
  .v4{
    background-color: darkred;
  }

  .others{
    float: inline-end;
    margin: auto;
  }
  #empty{
    border: 0px;
  }

  #winText{
    font-size: 20px;
  }